@font-face {
    font-family: "GT Eesti Pro Text";
    src: url(./fonts/gteestiprotext_regular.otf) format(opentype);
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "GT Eesti Pro Text";
    src: url(./fonts/gteestiprotext_medium.otf) format(opentype);
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: "RF Dewi";
    src: url(./fonts/RFDewi-Regular.ttf);
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "RF Dewi";
    src: url(./fonts/RFDewi-Semibold.ttf);
    font-style: normal;
    font-weight: 600;
  }

  @font-face {
    font-family: "RF Dewi";
    src: url(./fonts/RFDewi-Bold.ttf);
    font-style: normal;
    font-weight: 700;
  }

* {
    font-family: 'RF Dewi';
    box-sizing: border-box;
    letter-spacing: -0.02em;
}

.mainContainer {
    width: 100%;
    height: max-content;
    padding: 20px;
    position: absolute;
}

.hintLabel {
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    color: #0D54CA;
}

.mainLabel {
    // font-family: 'GT Eesti Pro Text';
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

.inputTextField fieldset {
    border-color: #B3B3B3 !important;
}

.inputTextField {
    .MuiInputBase-root {
        border-radius: 20px;
        background-color: #F7F8FA;
        font-family: 'GT Eesti Pro Text';
        font-weight: 400;
    }
}

.MuiAutocomplete-option {
    // font-family: 'GT Eesti Pro Text';
    font-weight: 400;
    font-size: 16px;
}

.MuiAutocomplete-popperDisablePortal {
    border: solid 1px #000000;
    box-shadow: none;
}

.inputTextField .MuiFormLabel-root, .inputTextField .MuiFormLabel-root.Mui-focused {
    font-weight: 400;
    color: #0D54CA;
}

input {
    font-family: RF Dewi !important;
    font-weight: 400 !important;
    color: black !important;
}

.actionButton.MuiButtonBase-root,  .actionButton.MuiButtonBase-root:hover{
    background-color: black;
    box-shadow: none;
    border-radius: 16px;
    font-family: 'RF Dewi';
    font-weight: 400;
    color: white;
    text-transform: none;
    font-size: 16px;
}

.toggleGroupButton button {
    line-height: 20px !important;
    padding:  6px 10px !important;
    text-transform: none !important;
    color : black;
    border: solid 1px black !important;
    border-radius: 20px !important;
    // font-family: 'GT Eesti Pro Text';
    font-weight: 400;
    font-size: 24px;
}

.toggleGroupButton button.Mui-selected {
    background-color: #0D54CA !important;
    color : white !important;
}

.toggleGroupButton {
    display: flex;
    justify-content: space-between;
}

.activityCategoryCard .expanding{
    background-color : #eaebec;
}

.activityCategoryCard .visible {
    background: #F7F5ED;
    border-radius: 10px;
}

.activityCategoryCard {
    box-shadow: none !important;
}

.activityCategoryCard-appear {
    opacity: 0;
    scale: 0 1;
    translate: 0 100%;
}

.activityCategoryCard-appear-active {
    opacity: 1;
    scale: 1 1;
    translate: 0 0;
    transition:
        opacity 500ms cubic-bezier(0.46, 0, 0, 1.01),
        scale 500ms cubic-bezier(0.58, 0.02, 0, 0.96),
        translate 500ms ease-out !important;
}

.activityCategoryCard-enter {
    opacity: 0;
    scale: 0 1;
    translate: 0 100%;
}

.activityCategoryCard-enter-active {
    opacity: 1;
    scale: 1 1;
    translate: 0 0;
    transition:
        opacity 500ms cubic-bezier(0.46, 0, 0, 1.01),
        scale 500ms cubic-bezier(0.58, 0.02, 0, 0.96),
        translate 500ms ease-out !important;
}

.activityCard-appear {
    opacity: 0;
    scale: 0 1;
    translate: 0 100%;
}

.activityCard-appear-active {
    opacity: 1;
    scale: 1 1;
    translate: 0 0;
    transition:
        opacity 500ms cubic-bezier(0.46, 0, 0, 1.01),
        scale 500ms cubic-bezier(0.58, 0.02, 0, 0.96),
        translate 500ms ease-out !important;
}

.activityCard-enter {
    opacity: 0;
    scale: 0 1;
    translate: 0 100%;
}

.activityCard-enter-active {
    opacity: 1;
    scale: 1 1;
    translate: 0 0;
    transition:
        opacity 500ms cubic-bezier(0.46, 0, 0, 1.01),
        scale 500ms cubic-bezier(0.58, 0.02, 0, 0.96),
        translate 500ms ease-out !important;
}

.recommendationcard-enter {
    opacity: 0;
    height: 0;
}

.recommendationcard-enter-active {
    opacity: 1;
    height : 130px;
    transition-property: height, opacity !important;
    transition-duration: 300ms !important;
    transition-timing-function: ease-in !important;
}

// .recommendationcard-exit {
//     opacity: 1;
// }
// .recommendationcard-exit-active {
//     opacity: 0;
//     transition: opacity 500ms ease-in;
// }

.bookCard {
    background-color: white;
    box-shadow: 10px 5px 5px !important;
}

.activityCategoryCard .expanding{
    background-color: #eaebec
}

.activityCategoryCard .activityCategoryActionButtonList, .activityCategoryCard .activityCategoryActionButtonList:hover{
    background-color: #c5b577;
    border-radius : 30px;
    color: black;
    text-transform: none;
    font-family: 'GT Eesti Pro Text';
    width : 50%;
}

.activityCategoryCard .activityCategoryActionButtonMap, .activityCategoryCard .activityCategoryActionButtonMap:hover{
    background-color: #c22;
    border-radius : 30px;
    color: white;
    text-transform: none;
    font-family: 'GT Eesti Pro Text';
    width : 50%;
}

.activityCategoryCard .activityTagsMain {
    background: #C5B577;
    color: white;
    border-radius: 10px;
    padding : 0 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.activityCategoryCard .activityTagsOther {
    border: solid 1px #C5B577;
    color: #C5B577;
    border-radius: 10px;
    padding : 0 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

// ----

.toggleGroupButton button.activityCategoriesBookingsTab {
    line-height: 20px !important;
    padding:  4px 10px !important;
    text-transform: none !important;
    color : black;
    border-radius: 16px !important;
    border: none !important;
    font-family: 'GT Eesti Pro Text';
    font-weight: 400;
    font-size: 18px;
    width : 49%;
}

.toggleGroupButton button.activityCategoriesBookingsTab.Mui-selected {
    background-color: #c5b577 !important;
    color: black !important;
}

// .activityCategoriesTab {
//     width : 49%;
//     height : 100px;
//     font-size: 18px !important;
//     background-color: #C5B577 !important;
// }

// .bookingsTab {
//     width : 49%;
//     height : 100px;
//     font-size: 18px !important;
//     background-color: white !important;
// }

// -----

.startChat.MuiButtonBase-root {
    background-color: #c22 !important;
    color: white !important;
    font-family: 'GT Eesti Pro Text' !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    text-transform: none !important;
    border-radius: 16px !important;
    text-align: start !important;
    letter-spacing: -0.02em !important;
    // line-height: 20px !important;
}

// -----

.bookCard .visible {
    background: white;
    border-radius: 10px;
}

.bookCard {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.bookCard .activityTagsMain {
    background: #C5B577;
    color: white;
    border-radius: 10px;
    padding : 0 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.bookCard .activityTagsOther {
    border: solid 1px #C5B577;
    color: #C5B577;
    border-radius: 10px;
    padding : 0 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

// ---

.activityCard .visible {
    background: white;
    border-radius: 10px;
}

.activityCard {
    border-radius: 16px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.activityCard .activityTagsMain {
    background: #C5B577;
    color: white;
    border-radius: 10px;
    padding : 0 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.activityCard .activityTagsOther {
    border: solid 1px #C5B577;
    color: #C5B577;
    border-radius: 10px;
    padding : 0 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

// --

.distanceToActivity {
    background-color: #E8ECF0;
    border-radius: 10px;
    padding: 0 10px;
}

.nearActivity {
    background-color: #6DC38B;
    border-radius: 10px;
    padding: 0 10px;
    color : white;
}

.driver-card {
    width: 250px;
    height: 300px;
    overflow-y: scroll;
}

.bookButton {
    background-color: #CC2222 !important;
    color: white !important;
    border-radius: 10px !important;
    padding: 0 10px !important;
    text-transform: none !important;
    font-family: 'GT Eesti Pro Text' !important;
}

.page-transition-forward-enter {
    transform: translateX(100%);
    opacity: 0;
}

.page-transition-forward-enter-active {
    transform: translateX(0%);
    opacity: 1;
    transition: transform 500ms cubic-bezier(0.79, 0.01, 0.29, 0.98),
    opacity 500ms cubic-bezier(0.65, 0.01, 0.41, 0.98);
    // transition-property: transform, opacity;
    // transition-duration: 500ms;
    // transition-timing-function: cubic-bezier(0.79, 0.01, 0.29, 0.98) cubic-bezier(0.65, 0.01, 0.41, 0.98);
    // transition: opacity 300ms ease-in;
}

.page-transition-forward-exit {
    transform: translateX(0%);
    opacity: 1;
}

.page-transition-forward-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 500ms cubic-bezier(0.79, 0.01, 0.29, 0.98),
    opacity 500ms cubic-bezier(0.65, 0.01, 0.41, 0.98);
    // transition-property: transform, opacity;
    // transition-duration: 500ms;
    // transition-timing-function: cubic-bezier(0.79, 0.01, 0.29, 0.98) cubic-bezier(0.98, 0.01, 1, 1);
}

.page-transition-backward-enter {
    transform: translateX(-100%);
    opacity: 0;
}

.page-transition-backward-enter-active {
    transform: translateX(0%);
    opacity: 1;
    transition: transform 500ms cubic-bezier(0.79, 0.01, 0.29, 0.98),
    opacity 500ms cubic-bezier(0.65, 0.01, 0.41, 0.98);
    // transition-property: transform, opacity;
    // transition-duration: 500ms;
    // transition-timing-function: cubic-bezier(0.79, 0.01, 0.29, 0.98) cubic-bezier(0.98, 0.01, 1, 1);
}

.page-transition-backward-exit {
    transform: translateX(0%);
    opacity: 1;
}

.page-transition-backward-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 500ms cubic-bezier(0.79, 0.01, 0.29, 0.98),
    opacity 500ms cubic-bezier(0.65, 0.01, 0.41, 0.98);
}

.onboardingDisplay-appear {
    opacity : 0
}

.onboardingDisplay-appear-active {
    opacity : 1;
    transition: opacity 500ms ease-in;
}

// .onboardingDisplay-enter {
//     opacity : 0
// }

// .onboardingDisplay-enter-active {
//     opacity : 1;
//     transition: opacity 500ms ease-in;
// }

.onboardingDisplay-exit {
    opacity : 1
}

.onboardingDisplay-exit-active {
    opacity : 0;
    transition: opacity 200ms ease-out;
}